.spinner-border {
    float: none;
    position: absolute;
    left: 42%;
}
table {
    .download-link {
        cursor: pointer;
        color: blue;
        &:hover {
            text-decoration: underline;
        }
    }
}